
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hoverScale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.drug-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow on the sides */
}

.drug-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border-radius: 10px; /* Rounded corners for the entire table */
    overflow: hidden;
}


.drug-list-header {
    background: rgb(95,0,167);
    background: linear-gradient(180deg, rgba(95,0,167,1) 39%, rgba(229,112,255,1) 100%);
    -webkit-background-clip: text;
    color: transparent; /* Make the text color transparent */
    font-family: 'Silkscreen', sans-serif;
    font-size: 300%; /* Adjust font size as needed */
    font-weight: bold; /* Bold font weight */
    margin-bottom: 10px; /* Add margin for spacing */
    animation: fadeIn 1s ease; /* Fade-in animation */
}

.btn-purple {
    background-color: purple !important;
    color: white !important;
}
.btn-shadow {
    box-shadow: 2px 2px 5px rgb(95,0,167);
    /* Adjust shadow values as needed */
}

.link-no-underline {
    text-decoration: none;
    /* Remove underline from the link */
}